.signin-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0px;
  border-radius: 10px;
  padding: 40px;
  background-color: transparent;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border: solid white 1px;
  border-radius: 30px;
}
.signin-input-container-image {
  display: flex;
}
.signin-image-elemenet {
  height: 80px;
  width: 80px;
}

.signin-input-container {
  margin: 10px;
}
.signin-label-element-name {
  padding-right: 74px;
  color: white;
}
.signin-label-element-phone {
  padding-right: 10px;
  color: white;
}
.signin-label-element-email {
  color: white;
  padding-right: 78px;
}
.signin-label-element-password {
  color: white;
  padding-right: 50px;
}
.signin-input-element {
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  border: solid yellow 1px;
  color: yellow;
}
.signin-button-css {
  padding: 8px;
  border-radius: 10px;
  border: solid yellow 1px;
  color: white;
  margin-right: 10px;
  background-color: transparent;
  padding: 10px;
  margin: 15px;
}
.signin-button-css:hover {
  background-color: #622d4e;
  color: white;
  border: 0px;
}

.btn-container {
  padding-top: 20px;
}
